.Pokecard {
  display: inline-block;
  width: 220px;
  margin: 10px 10px 15px;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 #ccc;
  border-radius: 2px;
  transition: .6s ease;
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.Pokecard:hover {
  transform: scale(1.07);
}

.Pokecard-img {
  width: 150px;
  transition: .5s ease-in-out;
}

/* .Pokecard-img:hover {
  transform: scale(1.2);  
} */

.Pokecard-text {
  margin: 0;
  font-weight: 500;
}

.Pokecard-name {
  margin: 0 0 5px;
}

.Pokecard-img-cont {
  width: 90%;
  margin: 10px auto 0;
  background-color: #eee;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}