.Pokecard {
  display: inline-block;
  width: 220px;
  margin: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 #ccc;
}

.Pokecard-img {
  width: 150px;
  transition: .5s ease-in-out;
}

.Pokecard-img:hover {
  transform: scale(1.2);  
}

.Pokecard-text {
  margin: 0;
  font-weight: 500;
}

.Pokecard-name {
  margin: 0 0 5px;
}

.Pokecard-img-cont {
  width: 90%;
  margin: 10px auto 0;
  background-color: #eee;
}