.Pokecard {
  display: inline-block;
  width: 220px;
  margin: 10px;
  padding-bottom: 20px;
  border: 1px solid black;
  overflow: hidden;
  background-color: rgb(235, 238, 243);
}

.Pokecard-img {
  width: 150px;
}

.Pokecard-text {
  margin: 0;
  font-weight: 500;
}